<?php
echo $this->Html->css('VotesystemController');?>

 <h3><?php echo $name ?>さんの得票数は……</h3>
 <h4><?php echo $vote; ?></h4>
  <p>です。</p>
  <p>最後の投票時間：<?php echo $date ?></p>

<font size="5" color="15848F">
<b>
<?=$this->Form->create('VotesystemController', ['url' => ['action' => 'vote'], 'type' => 'post'])?>
 <?=$this->Form->submit('戻る')?>
 <?=$this->Form->end()?>
</b>
</font>