<font size="5" color="15848F"><b>
<?=$this->Form->create('VotesystemController', ['url' => ['action' => 'result'], 'type' => 'post'])?>
<?=$this->Form->hidden( "id", [ "value" => 1 ] ) ?>
<?=$this->Form->submit('Aさんに投票')?>
<?=$this->Form->end()?>
</b></font>
​
<font size="5" color="15848F"><b>
<?=$this->Form->create('VotesystemController', ['url' => ['action' => 'result'], 'type' => 'post'])?>
<?=$this->Form->hidden( "id", [ "value" => 2 ] ) ?>
<?=$this->Form->submit('Bさんに投票')?>
<?=$this->Form->end()?>
</b></font>
​
<font size="5" color="15848F"><b>
<?=$this->Form->create('VotesystemController', ['url' => ['action' => 'result'], 'type' => 'post'])?>
<?=$this->Form->hidden( "id", [ "value" => 3 ] ) ?>
<?=$this->Form->submit('Cさんに投票')?>
<?=$this->Form->end()?>
</b></font>

<br/>
<font size="5" color="15848F"><b>
<?=$this->Form->create('VotesystemController', ['url' => ['action' => 'find'], 'type' => 'get'])?>
<?=$this->Form->input('name', array(
    'label' => false,
    'type' => 'text',
    'maxlength' => '10',
    'class' => 'VotesystemController'
))?>
さん投票結果を検査します。<br/>
<?=$this->Form->submit('検索')?>
<?=$this->Form->end()?>
</b></font>